<div>
    <h2 id="netgroups" style="color:white">Netgroups Are Missing</h2>
    <p>The netgroups list is not automatically updated when new netgroups are created. To manually update the list, run the Netgroup Update Script.</p>
    <a href="./update_netgroups.cmd" download>Update Netgroups</a>

    <h2 id="forms" style="color:white">Forms Are Out Of Date</h2>
    <p>The forms do not automatically update when forms are modified in the Y: Drive. To manually update the forms, run the Form Import Script.</p>
    <a href="./data/forms/update_website.bat" download>Import Forms</a>

    <h2 id="buildings" style="color:white">Buildings Are Missing</h2>
    <p>The buildings list is manually created by us. There is no good way to automate its creation. To manually update the buildings, follow the following steps:</p>
    <p>1. Open R:\userweb\ithelp\data\dashboard\buildings.js</p>
    <p>2. Add <code>["####"], "Building Name(Street Address)"]</code></p>
    <p>&nbsp&nbsp&nbsp#### is the four letter building code.</p>
    <p>&nbsp&nbsp&nbspBuilding Name is the friendly name for the building.</p>
    <p>&nbsp&nbsp&nbspStreet Address is the street address of the building.</p>

    <h2 id="emails" style="color:white">Adding/Modifying Email Templates</h2>
</div>