</div>
<div>
<h1 style="color:white">Quick Links</h1>
<ul class="uk-nav uk-nav-default">
    <li><a href="#netgroups">Netgroups are missing</a></li>
    <li><a href="#forms">Forms are out of date</a></li>
    <li><a href="#buildings">Buildings are missing</a></li>
    <li><a href="#rdp">Remote Desktop does nothing</a></li>
    <li><a href="#emails">Adding/Modifying Email Templates</a></li>
</ul>
<h1 style="color:white">Application Documentation</h1>
<ul class="uk-nav uk-nav-default">
    <li><a href="#dash">Dashboard</a></li>
    <li><a href="#email">Email Generator</a></li>
    <li><a href="#form">Forms & Waivers</a></li>
    <li><a href="#remote">Remote Desktop</a></li>
    <li><a href="#system">System Status</a></li>
    <li><a href="#wx">Weather</a></li>
</ul>
<a name="netgroups"></a>
<h2 id="netgroups" style="color:white">Netgroups Are Missing</h2>
<p>The netgroups list is not automatically updated when new netgroups are created. To manually update the list, run the Netgroup Update Script.</p>
<a href="./update_netgroups.cmd" download>Update Netgroups</a>
<a name="forms"></a>
<h2 id="forms" style="color:white">Forms Are Out Of Date</h2>
<p>The forms do not automatically update when forms are modified in the Y: Drive. To manually update the forms, run the Form Import Script.</p>
<a href="./data/forms/update_website.bat" download>Import Forms</a>
<a name="buildings"></a>
<h2 id="buildings" style="color:white">Buildings Are Missing</h2>
<p>The buildings list is manually created by us. There is no good way to automate its creation. To manually update the buildings, follow the following steps:</p>
<p>1. Open R:\userweb\ithelp\data\dashboard\buildings.js</p>
<p>2. Add <code>["####"], "Building Name(Street Address)"]</code></p>
<p>&nbsp&nbsp&nbsp#### is the four letter building code.</p>
<p>&nbsp&nbsp&nbspBuilding Name is the friendly name for the building.</p>
<p>&nbsp&nbsp&nbspStreet Address is the street address of the building.</p>
<a name="rdp"></a>
<h2 id="rdp" style="color:white">Remote Desktop Does Nothing</h2>
<p>To use the RDP Hyperlinks on a Windows Desktop, you will need to install the rdp:// protocol. To install the protocol, run the RDP Protocol Installer.</p>
<a href="./data/rdp/rdp.bat" download>Run RDP Protocol Installer</a>
<a name="emails"></a>
<h2 id="emails" style="color:white">Adding/Modifying Email Templates</h2>
<hr/>
<h2 id="dash" style="color:white"><a name="dash"></a>Dashboard</h2>
<h2 id="email" style="color:white"><a name="email"></a>Email Generator</h2>
<h2 id="form" style="color:white"><a name="form"></a>Forms & Waivers</h2>
<h2 id="remote" style="color:white"><a name="remote"></a>Remote Desktop</h2>
<h2 id="system" style="color:white"><a name="system"></a>System Status</h2>
<h2 id="wx" style="color:white"><a name="wx"></a>Weather App</h2>
</div>