<!-- Persistent Protocol Installer Notice -->
<div class="uk-alert-primary uk-position-bottom-center" uk-alert>
    <p id="alert-message">This app requires you to run the <a href="./data/rdp/rdp.bat" download>RDP Protocol batch script</a> on your computer. It will apply across the system once run.</p>
</div>
<!-- Generic RDP Prompt -->
<div class="uk-card-primary">
    <div class="uk-card-header">
        <h3 class="uk-card-title">Remote Desktop</h3>
    </div>
    <div class="uk-card-body">
        <input id="hostname" name="hostname" class="uk-input uk-form-width-medium uk-form-small" type="text" placeholder="Hostname" />
        <br /><br />
        <button id="analyzeUserButton" onclick="generalConnect()" class="uk-button uk-button-default uk-button-small">
            Connect
        </button>
    </div>
</div>
<br/>
</div>
<!-- Help Desk Quick Connects -->
<div dept="hd" id="hd-rdp-holder" class="uk-margin-top uk-margin-left uk-margin-right uk-margin-bottom uk-grid-small uk-grid-match uk-flex-wrap" uk-grid>
    <!-- Shred -->
    <div class="uk-card uk-card-primary uk-width-1-5">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-border-circle" width="60" height="60" src="./images/rdp/shredder.png">
                    </div>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Shredder</h3>
                        <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">R-SHREDDER</time></p>
                    </div>
                </div>
            </div>

            <div class="uk-card-footer">
                <a href="rdp://r-shredder.managed.mst.edu" class="uk-button uk-button-default uk-button-small">Connect</a>
            </div>
    </div>
    <!-- Raph -->
    <div class="uk-card uk-card-primary uk-width-1-5">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-border-circle" width="60" height="60" src="./images/rdp/raphael.png">
                    </div>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Raphael</h3>
                        <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">R-RAPHAEL</time></p>
                    </div>
                </div>
            </div>

            <div class="uk-card-footer">
                <a href="rdp://r-raphael.device.mst.edu" class="uk-button uk-button-default uk-button-small">Connect</a>
            </div>
    </div>
    <!-- Leo -->
    <div class="uk-card uk-card-primary uk-width-1-5">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-border-circle" width="60" height="60" src="./images/rdp/leonardo.png">
                    </div>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Leonardo</h3>
                        <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">R-LEONARDO</time></p>
                    </div>
                </div>
            </div>

            <div class="uk-card-footer">
                <a href="rdp://r-leonardo.device.mst.edu" class="uk-button uk-button-default uk-button-small">Connect</a>
            </div>
    </div>
    <!-- Mich -->
    <div class="uk-card uk-card-primary uk-width-1-5">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-border-circle" width="60" height="60" src="./images/rdp/michelangelo.png">
                    </div>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Michelangelo</h3>
                        <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">R-MICHELANGELO</time></p>
                    </div>
                </div>
            </div>

            <div class="uk-card-footer">
                <a href="rdp://r-michelangelo.managed.mst.edu" class="uk-button uk-button-default uk-button-small">Connect</a>
            </div>
    </div>
    <!-- Don -->
    <div class="uk-card uk-card-primary uk-width-1-5">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-border-circle" width="60" height="60" src="./images/rdp/donatello.png">
                    </div>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Donatello</h3>
                        <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">R-DONATELLO</time></p>
                    </div>
                </div>
            </div>

            <div class="uk-card-footer">
                <a href="rdp://r-donatello.managed.mst.edu" class="uk-button uk-button-default uk-button-small">Connect</a>
            </div>
    </div>
</div>
<br/>
<!-- Deployment Quick Connects -->
<div dept="deploy" id="deploy-rdp-holder" class="uk-margin-top uk-margin-left uk-margin-right uk-margin-bottom uk-grid-small uk-grid-match uk-flex-wrap uk-position-center" uk-grid>
        <!-- Frank -->
        <div class="uk-card uk-card-primary uk-width-1-3">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="./images/rdp/frank.png">
                        </div>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom">Frankenstein</h3>
                            <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">RFRANKENSTEIN</time></p>
                        </div>
                    </div>
                </div>
    
                <div class="uk-card-footer">
                    <a href="rdp://rfrankenstein.managed.mst.edu" class="uk-button uk-button-default uk-button-small">Connect</a>
                </div>
        </div>
        <!-- Bride -->
        <div class="uk-card uk-card-primary uk-width-1-3">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="60" height="60" src="./images/rdp/brideoffrank.png">
                        </div>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom">Bride of Frank</h3>
                            <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">RBRIDEOFFRANK</time></p>
                        </div>
                    </div>
                </div>
    
                <div class="uk-card-footer">
                    <a href="rdp://rbrideoffrank.managed.mst.edu" class="uk-button uk-button-default uk-button-small">Connect</a>
                </div>
        </div>
    </div>