<!-- Check In Waiver -->
<div it-include-html="./templates/form/card/checkin.html"></div>
<!-- Invoice Record -->
<div it-include-html="./templates/form/card/invoice.html"></div>
<!-- Loaner PC -->
<div it-include-html="./templates/form/card/loaner.html"></div>
<!-- Owl Rental -->
<div it-include-html="./templates/form/card/owl.html"></div>
<!-- Projector Rental -->
<div it-include-html="./templates/form/card/projector.html"></div>
<!-- Hardware Donation -->
<div it-include-html="./templates/form/card/donation.html"></div>
<!-- Out of Order -->
<div it-include-html="./templates/form/card/order.html"></div>