<div class="uk-card uk-child-width-1-2 uk-position-bottom-left" uk-grid>
    <div class="uk-margin-right uk-card-media-left ">
        <img title="Joe Miner shrugs because he does not know, he is only a badly made MS Paint drawing." src="./images/404.png" alt="Joe Miner Shrugging but is drawn in MS Paint" uk-cover>
        <canvas width="" height=""></canvas>
    </div>
    <div>
        <div class="uk-card-body">
                
        </div>
    </div>
</div>
<div class="uk-width-1-2 uk-position-center">
<div class="uk-card uk-card-secondary">
<div class="uk-card-body">
    <h1 id="errorCode" class="uk-align-center">0001</h1>
    <h3 id="errorTitle" class="uk-align-center">Invalid App Code</h3>
    <p id="errorDescription">You should stop trying to break it.</p>
</div>
</div>