<!-- Springfield MO -->
<div it-include-html="./templates/wx/cards/radar/sgf.html"></div>
<!-- Little Rock AR -->
<div it-include-html="./templates/wx/cards/radar/lzk.html"></div>
<!-- Fort Smith AR -->
<div it-include-html="./templates/wx/cards/radar/srx.html"></div>
<!-- Tulsa OK -->
<div it-include-html="./templates/wx/cards/radar/inx.html"></div>
<!-- Kansas City MO -->
<div it-include-html="./templates/wx/cards/radar/eax.html"></div>
<!-- St. Louis MO -->
<div it-include-html="./templates/wx/cards/radar/lsx.html"></div>
<!-- National -->
<div it-include-html="./templates/wx/cards/radar/natl.html"></div>