<!-- SCCM -->
<div it-include-html="./templates/card/sccm/sccm.html" class="uk-width-1-5@l uk-width-1-3@m uk-width-1-1@s"></div>
<!-- LAPS -->
<div it-include-html="./templates/card/laps/laps.html" class="uk-width-1-5@l uk-width-1-3@m uk-width-1-1@s"></div>
<!-- Dell Warranty -->
<div it-include-html="./templates/card/dell/dell.html" class="uk-width-1-5@l uk-width-1-3@m uk-width-1-1@s"></div>
<!-- NetDB -->
<div it-include-html="./templates/card/netdb/netdb.html" class="uk-width-1-4@l uk-width-1-2@m uk-width-1-1@s"></div>
<!-- Port Search -->
<div it-include-html="./templates/card/ports/ports.html" class="uk-width-1-4@l uk-width-1-2@m uk-width-1-1@s"></div>
<!-- People Search -->
<div it-include-html="./templates/card/people/people.html" class="uk-width-1-4@l uk-width-1-2@m uk-width-1-1@s"></div>