<div class="uk-card uk-card-primary">
    <div class="uk-card-header">
        <h4 class="uk-card-title" uk-icon="lock">
            <a target="_blank" href="https://laps.mst.edu">LAPS</a>
        </h4>
    </div>
    <div class="uk-card-body">
        <input id="lapsPassword" class="uk-input uk-form-width-medium uk-form-small" type="text" placeholder="Hostname" />
        <br /><br />
        <button id="lapsButton" class="uk-button uk-button-default uk-button-small" onclick="handleLaps()">
            Search
        </button>
    </div>
</div>