<div class="uk-card uk-card-primary">
        <div class="uk-card-header">
            <h4 class="uk-card-title">Invoice Record</h4>
        </div>
        <div class="uk-card-body">
            <p>Use to create a transaction or billing record for repair, shamrocks, etc.</p>
            <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfMC_hbG5nfvFYVLVDCKZ7K-yfxM-I9M-BaHHU85NAT2vgj0w/viewform" class="uk-button uk-button-default uk-button-small">Open</a>
        </div>
    </div>