<div class="uk-card uk-card-primary">
        <div class="uk-card-header">
            <h4 class="uk-card-title">Loaner PCs</h4>
        </div>
        <div class="uk-card-body">
            <p>Use to checkout a loaner laptop to a customer
                <br/>If being used for warranty work or while a University computer is under repair, use No Billing
                <br/>If being rented via MoCode, use Billable</p>
            <a href="./data/forms/Laptop%20Rental%20(NO%20BILLING).docx" class="uk-button uk-button-default uk-button-small">No Billing</a>
            <a href="./data/forms/Laptop%20Rental.docx" class="uk-button uk-button-default uk-button-small">Billable</a>
        </div>
    </div>