<!-- Analyze User -->
<div it-include-html="./templates/card/auser/auser.html" class="uk-width-1-5@l uk-width-1-3@m uk-width-1-1@s"></div>
<!-- SCCM -->
<div it-include-html="./templates/card/sccm/sccm.html" class="uk-width-1-5@l uk-width-1-3@m uk-width-1-1@s"></div>
<!-- LAPS -->
<div it-include-html="./templates/card/laps/laps.html" class="uk-width-1-5@l uk-width-1-3@m uk-width-1-1@s"></div>
<!-- Dell Warranty -->
<div it-include-html="./templates/card/dell/dell.html" class="uk-width-1-5@l uk-width-1-3@m uk-width-1-1@s"></div>
<!-- NetDB -->
<div it-include-html="./templates/card/netdb/netdb.html" class="uk-width-1-4@l uk-width-1-2@m uk-width-1-1@s"></div>
<!-- NetGroups -->
<div it-include-html="./templates/card/netgroup/netgroup.html" class="uk-width-1-4@l uk-width-1-2@m uk-width-1-1@s"></div>
<!-- People Search -->
<div it-include-html="./templates/card/people/people.html" class="uk-width-1-4@l uk-width-1-2@m uk-width-1-1@s"></div>
</div>
<!-- BEGIN QUICK FORM CARDS -->
<div id="quickform-holder" class="uk-margin-top uk-margin-left uk-margin-right uk-margin-bottom uk-grid-small uk-grid-match uk-flex-wrap" uk-grid>
<!-- Check-In MIN-->
<div it-include-html="./templates/form/card/checkin.min.html" class="uk-width-1-6@l uk-width-1-6@m uk-width-1-6@s"></div>
<!-- Invoice MIN-->
<div it-include-html="./templates/form/card/invoice.min.html" class="uk-width-1-6@l uk-width-1-6@m uk-width-1-6@s"></div>
<!-- Loaner MIN-->
<div it-include-html="./templates/form/card/loaner.min.html" class="uk-width-1-6@l uk-width-1-6@m uk-width-1-6@s"></div>
<!-- OWL MIN-->
<div it-include-html="./templates/form/card/owl.min.html" class="uk-width-1-6@l uk-width-1-6@m uk-width-1-6@s"></div>
<!-- Donation MIN-->
<div it-include-html="./templates/form/card/donation.min.html" class="uk-width-1-6@l uk-width-1-6@m uk-width-1-6@s"></div>
<!-- OOO MIN-->
<div it-include-html="./templates/form/card/order.min.html" class="uk-width-1-6@l uk-width-1-6@m uk-width-1-6@s"></div>
</div>