<div class="uk-card uk-card-primary">
    <div class="uk-card-header">
        <h4 class="uk-card-title" uk-icon="icon: receiver">
            <a target="_blank" href="https://telcom.mst.edu/auth-cgi-bin/cgiwrap/mysofttools/analyze-number.pl">Phone</a>
        </h4>
    </div>
    <div class="uk-card-body">
        <input id="analyzePhone" class="uk-input uk-form-width-medium uk-form-small" type="text" placeholder="Extension" />
        <br /><br />
        <button id="phoneButton" class="uk-button uk-button-default uk-button-small" onclick="handleAnalyzePhone()">
            Search
        </button>
    </div>
</div>