<div class="uk-card uk-card-primary">
    <div class="uk-card-header">
        <h4 class="uk-card-title" uk-icon="laptop">
            <a target="_blank" href="https://support.dell.com">Dell</a>
        </h4>
    </div>
    <div class="uk-card-body">
        <div class="inputs">
            <input id="serviceTag" class="uk-input uk-form-width-medium uk-form-small" type="text" placeholder="Service Tag" />
        </div>
        <br />
        <button id="dellButton" class="uk-button uk-button-default uk-button-small" onclick="handleDell()">
            Search
        </button>
    </div>
</div>