<!-- Begin snippet from templates/card/format-number/format-number.html -->
<div class="uk-card uk-card-primary">
    <div class="uk-card-header">
        <h4 class="uk-card-title" uk-icon="receiver">
            Format Number
        </h4>
    </div>
    <div class="uk-card-body">
        <div class="inputs">
            <input type="tel" id="formatPhone" placeholder="Phone Number" class="uk-input uk-form-width-medium uk-form-small">
        </div>
        <br />
        <button id="formatNumberButton" class="uk-button uk-button-default uk-button-small" onclick="handleFormatNumber()">
            Format
        </button>
    </div>
</div>
<!-- End snippet from templates/card/format-number/format-number.html -->