<div class="uk-card uk-card-primary" style="position: relative">
    <div class="uk-card-header">
        <h4 class="uk-card-title" uk-icon="bolt">
            <a target="_blank" href="https://teams.microsoft.com/l/file/EE9ADA85-ED05-46F2-AED8-37CCEE795791?tenantId=e3fefdbe-f7e9-401b-a51a-355e01b05a89&fileType=docx&objectUrl=https%3A%2F%2Fmailmissouri.sharepoint.com%2Fsites%2Fit-at-helpdesk-grpmst.edu%2FShared%20Documents%2FGeneral%2FSCCM%20how%20to.docx&baseUrl=https%3A%2F%2Fmailmissouri.sharepoint.com%2Fsites%2Fit-at-helpdesk-grpmst.edu&serviceName=teams&threadId=19:76312185e37a40489e09a9ac3b7d9430@thread.skype&groupId=d13f98ed-56f3-47bd-ae24-530b23f3da82">SCCM</a>
        </h4>
    </div>
    <div class="uk-card-body" style="position: absolute; bottom: 0;">
        <div class="buttons">
            <a href="https://teams.microsoft.com/l/file/EE9ADA85-ED05-46F2-AED8-37CCEE795791?tenantId=e3fefdbe-f7e9-401b-a51a-355e01b05a89&fileType=docx&objectUrl=https%3A%2F%2Fmailmissouri.sharepoint.com%2Fsites%2Fit-at-helpdesk-grpmst.edu%2FShared%20Documents%2FGeneral%2FSCCM%20how%20to.docx&baseUrl=https%3A%2F%2Fmailmissouri.sharepoint.com%2Fsites%2Fit-at-helpdesk-grpmst.edu&serviceName=teams&threadId=19:76312185e37a40489e09a9ac3b7d9430@thread.skype&groupId=d13f98ed-56f3-47bd-ae24-530b23f3da82" target="_blank" class="uk-button uk-button-default uk-button-small">
                Go to SCCM
            </a>
        </div>
    </div>
</div>