<div class="uk-card uk-card-primary">
    <div class="uk-card-header">
        <h4 class="uk-card-title" uk-icon="icon: bolt">
            <a target="_blank" href="https://itweb.mst.edu/~deskwtg">SCCM</a>
        </h4>
    </div>
    <div class="uk-card-body">
        <input id="sccm" name="sccm" class="uk-input uk-form-width-medium uk-form-small" type="text" placeholder="Hostname" />
        <br /><br />
        <button id="sccmButton" onclick="handleSccm(0)" class="uk-button uk-button-default uk-button-small">
            Create
        </button>
        <button onclick="handleSccm(1)" class="uk-button uk-button-default uk-button-small">
            View
        </button>
    </div>
</div>